<div style="text-align: center">
  <nav style="">
    <ul
      style="
        list-style: none;
        display: flex;
        gap: 1rem;
        justify-content: center;
      "
    >
      <li>
        <a mat-raised-button routerLink="/home/page-e">Go to Page E</a>
      </li>
      <li>
        <a mat-raised-button routerLink="/home/page-f">Go to Page F</a>
      </li>
      <li>
        <a
          mat-raised-button
          [routerLink]="[{ outlets: { shell: ['bills', 'page-i'] } }]"
          >Bills - Go to Page I</a
        >
      </li>

      <li>
        <a mat-raised-button [routerLink]="[{ outlets: { shell: ['page-a'] } }]"
          >Host - Go to Page A</a
        >
      </li>
    </ul>
  </nav>
  <h1 class="custom-font">{{ title }} with Angular v{{ ngVersion }}</h1>
  <p class="custom-font">Material v{{ materialVersion }}</p>

  <div
    style="
      margin-bottom: 10px;
      display: flex;
      gap: 1rem;
      justify-content: center;
    "
  >
    <button mat-raised-button color="primary">Basic</button>
  </div>

  <div class="mt-5" style="border: 5px solid goldenrod; padding: 1rem">
    <router-outlet></router-outlet>
  </div>
</div>
