<div style="text-align: center">
  <nav style="">
    <ul
      style="
        list-style: none;
        display: flex;
        gap: 1rem;
        justify-content: center;
      "
    >
      <li><a routerLink="/bills/page-i">Go to Page I</a></li>
      <li>
        <a routerLink="/bills/page-j">Go to Page J</a>
      </li>
      <li>
        <a [routerLink]="[{ outlets: { shell: ['home', 'page-e'] } }]"
          >Home - Go to Page E</a
        >
      </li>
      <li>
        <a [routerLink]="[{ outlets: { shell: ['page-b'] } }]"
          >Host - Go to Page B</a
        >
      </li>
    </ul>
  </nav>
  <h1 class="custom-font">{{ title }} with Angular v{{ ngVersion }}</h1>

  <div
    style="
      margin-bottom: 10px;
      display: flex;
      gap: 1rem;
      justify-content: center;
    "
  >
    <button color="primary" (click)="goToHostPageA()">
      Go to Page A - Host
    </button>
  </div>

  <div class="mt-5" style="border: 5px solid blue; padding: 1rem">
    <router-outlet> </router-outlet>
  </div>
</div>
