<div style="text-align: center">
  <nav>
    <ul class="flex justify-content-center" style="list-style: none">
      <li>
        <p-button [link]="true" routerLink="/authentication/page-c"
          >Go to Page C</p-button
        >
      </li>
      <li>
        <p-button [link]="true" routerLink="/authentication/page-d"
          >Go to Page D</p-button
        >
      </li>
      <li>
        <p-button [link]="true" routerLink="/home/page-f"
          >Home - Go to Page F</p-button
        >
      </li>
      <li>
        <p-button [link]="true" routerLink="/page-a"
          >Host - Go to Page A</p-button
        >
      </li>
    </ul>
  </nav>

  <h1>{{ title }} with Angular v{{ ngVersion }}</h1>
  <p>PrimeNG v{{ primeNgVersion }}</p>

  <button pButton pRipple label="Test" class="p-button-success"></button>

  <div class="mt-5" style="border: 5px solid green; padding: 1rem">
    <router-outlet> </router-outlet>
  </div>
</div>
